
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,200;1,600&display=swap");

html,
body {
	height: 100%;
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

nav,
main {
	max-width: 1500px;
	margin: auto;
}

.bg-d {
	background-color: rgb(52, 93, 180);
	color: rgba(255, 255, 255, 0.856);
}

.bg-d-light {
	background-color: rgb(106, 130, 175);
	/* background-color:#d6d6d6; */
}

.bg-d-dark {
	background-color: rgb(5, 51, 149);
	/* background-color: #130f0f; */
}

.bg-d-alt {
	background-color: rgb(23, 46, 97);
	color: rgba(255, 255, 255, 0.835);
	/* background-color:rgb(83, 118, 146) ; */
}

/* NAVBAR
---------------------- */
.brand {
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

#brand-image {
	max-height: 45px;
}

.navbar-nav .nav-item {
	margin: 0 0.8em;
}

.navbar-dark .navbar-nav .nav-link:not(.btn) {
	transition: all 0.2;
	/* font-weight: bold; */
}

.navbar-dark .navbar-nav .active > .nav-link:not(.btn),
.navbar-dark .navbar-nav .nav-link.active:not(.btn),
.navbar-dark .navbar-nav .nav-link.show:not(.btn),
.navbar-dark .navbar-nav .show > .nav-link {
	color: rgb(243, 56, 56);
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

/* TOP
--------------------- */
.top {
	margin-top: 3.4em;
	padding: 2em;
	text-align: center;
	color: #fff;
	position: relative;
}

.top.top-bg {
	background: url("../images/laptop.jpg") no-repeat;

	background-position: center;
	background-size: 100%;
	min-height: 420px;
}

.bg-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 420px;
}

.top.top-bg h1 {
	margin-top: 5em;
	font-size: 2em;
}

.top.top-bg-alt h1 {
	margin-top: 1em;
}

#profile-img {
	border-radius: 50%;
	width: 150px;
	max-height: 350px;
	/* height: 250px; */
}

.section-active {
	border: 3px solid red;
}

hr.separator {
	width: 5%;
	background: #ddd;
	height: 2px;
	color: #ddd;
	margin: 0.7em auto;
}

/* SKILLS
----------------------------- */

#skills .icon {
	font-size: 3em;
	border-radius: 50%;
	background: #fff;
	padding: 0.3em 0.5em;
	color: #000;
}

#skills h2,
#skills h4 {
	color: #fff;
}

#skills .icon.android {
	font-size: 3.5em;
	padding: 0.2em 0.7em;
}

#skills .skill {
	border-radius: 25px;
	padding: 1em 2em;
	font-size: 70%;
	font-weight: bold;
	margin: 0.3em auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.418);
}

/* WORK
---------------------------- */
#work .filtering .filter {
	display: inline-block;
	padding: 14px 15px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

#work .filtering span {
	display: inline-block;
	margin: 0.1em 0.3em;
	padding: 8px 12px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
}

#work .filtering span:not(.active):hover {
	background: #1a227eab;
	background: linear-gradient(
		linear,
		left top,
		right top,
		from(#1a227eab),
		to(#2574fdab)
	);
	background: linear-gradient(to right, rgba(0, 0, 0, 0.651), rgba(13, 81, 228, 0.719));
	color: white;
	/* transition: all .5s; */
}

#work .filtering .active {
	background: #1a237e;
	background: linear-gradient(
		linear,
		left top,
		right top,
		from(#000),
		to(rgba(128, 0, 128, 0.685))
	);
	background: linear-gradient(to right,rgba(0, 0, 0, 0.883), rgb(13, 81, 228));
	color: white;
	transition: all 0.5s;
}

#work .item-img {
	position: relative;
	display: flex;
	border: 2px solid #fff;
	margin: .5em;
	border: 1px solid rgba(0, 0, 0, 0.274);
}

.gallery:not(.old) .item-img img {
	max-width: 100%;
}

#work .item-img:hover .item-img-overlay {
	visibility: visible;
	opacity: 1;
}

#work .item-img-overlay {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.95);
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

#work .item-img-overlay .icon {
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #1a237e;
	text-align: center;
	font-size: 20px;
	color: #1a237e;
}

#work a:not(.btn) {
	padding: 0;
	margin: auto 0;
}


#work .work-name {
	position: absolute;
	bottom: 0;
	background: #000000bd;
	color: #fff;
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 0.75em;
	display: none;
}

#work .row > a:hover .work-name {
	display: block;
}

/* EXPERIENCE
------------------------- */
#experience img {
	max-width: 100%;
	max-height: 300px;
}

/* FEEDBACK
---------------------------- */
#testimonials .t-content {
	font-size: 13px;
	color: #000;
}

#testimonials .owl-stage {
	display: flex;
}

#testimonials .owl-stage .owl-item {
	margin: auto 0;
	/* transform: scale(.9); */
}

/* .owl-stage .owl-item.active:nth-of-type(2){
	transform: scale(1);
} */

#testimonials .owl-carousel .owl-item img {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: auto;
}

#testimonials .item .card-text {
	font-size: 12px;
}

#testimonials .owl-carousel .owl-dots {
	margin-top: 1em !important;
}

#testimonials .owl-carousel .owl-dots.disabled {
	display: block;
}

/* .visit{
    position: absolute;
    top:50%;
    left: 50%;
} */

/* SERVICES
------------------------- */
#services .row > [class*="col-"] {
	padding: 0.5em;
}

#services .service-card {
	margin: 0;
	border-radius: 10px;
	height: 100%;
	background: rgba(5, 51, 149, 0.5);
	padding: 1.5em 1em 1.2em 1em;
	transition: all 0.4s;
}

#services .service-card:hover {
	cursor: pointer;
	background: rgb(5, 51, 149);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.37) !important;
}

#services .service {
	text-align: center;
}

#services .icon {
	font-size: 2.2em;
	border-radius: 50%;
	padding: 0.38em 0.55em;
	color: white;
}

#services .icon.design{
	padding: 0.3em 0.55em;
}
#services .icon.seo {
	padding: 0.3em 0.52em;
}

#services h4 {
	font-weight: 600;
	font-size: 16px;
	margin: 1.5em 0 0.7em;
}

/* PACKAGES
------------------------- */



/* PROCESS
---------------------- */
.stageContainer .row > .col {
	padding: 0.2em;
}

.stageContainer .row .card {
	height: 100%;
	padding: 0;
	border-radius: 5%;
}

.stageContainer .card .card-img-top {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	min-height: 110px;
	max-height: 110px;
	max-width: 100%;
	overflow: hidden;
	padding: 0.2em;
	background-color: #000;
}

.stageContainer .row .card .card-body {
	padding: 0.7em 0;
}

.stageContainer .row .card .card-text span {
	font-size: 80%;
	font-weight: bold;
	color: #000;
}

.stageContainer .col.stage-1 {
	left: 0%;
}

.delay-1s {
	animation-delay: 1s;
}

.delay-2s {
	animation-delay: 2s;
}

.delay-3s {
	animation-delay: 3s;
}

.delay-4s {
	animation-delay: 4s;
}
.delay-5s {
	animation-delay: 5s;
}

.work-list li{
	list-style: none;
	padding:.2em 1px;
}

.work-list span{
	padding: .2em;
	font-weight: bold;
	font-size: 1.5em;
}

/* CONTACT
------------------------ */
#contact a {
	color: #fff;
}

#contact .contact-element {
	margin: auto;
	text-align: center;
	text-overflow: ellipsis;
	max-width: 100%;
	overflow: hidden;
	color: #fff;
}

#contact .contact-element .contact-icon {
	text-align: center;
	font-size: 2em;
	display: block;
	border: 2px solid #fff;
	margin: auto;
	border-radius: 50%;
	width: 30%;
	margin-bottom: 0.2em;
}

#contact #usefullinks a {
	margin-top: 0.5em;
}

#contact .social-media {
	margin: 0;
	font-size: 200%;
}

#contact .social-media a {
	/* border:2px solid red; */
	border-radius: 50%;
	padding: 0.35em 0.75em;
	margin: 0 auto;
}

#contact .social-media a:hover {
	background: rgb(106, 130, 175);
}

/* GO TO TOP
------------------- */
#go-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1em;
	padding: 0.7em 1em;
	z-index: 2;
}

/* MEDIA QUERIES
-------------------------- */

@media (max-width: 768px) {
	.stageContainer .stage-5 .card-img-top {
		max-height: 150px;
	}
}

@media (max-width: 625px) {
	.navbar-nav {
		display: inline;
	}

	.navbar-nav .nav-item {
		display: inline-block;
	}

	#work .row a {
		margin-top: 0.5em;
	}

	/* #services .col-12 {
		margin-top: em;
	} */
}

@media (max-width: 576px) {
	.top.top-bg {
		margin-top: 3.3em;
		padding: 0.2em;
		min-height: 300px;
	}

	.bg-overlay {
		min-height: 300px;
		/* height: 100%; */
	}

	.top.top-bg h1 {
		margin-top: 3em;
		margin-bottom: 0.5em;
		font-size: 1.7em;
	}

	.top.top-bg-alt h1 {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		font-size: 1.5em;
	}

	hr.separator {
		width: 20%;
	}

	#skills .skill {
		margin-top: 1em;
	}

	#usefullinks {
		text-align: start;
	}

	#contact .social-media {
		font-size: 130%;
	}
}

@media (max-width: 425px) {
	#contact #usefullinks a {
		margin: 0.2em 0.2em;
	}

	#contact .social-media {
		font-size: 110%;
	}
}
