@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@0,300;0,400;0,600&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,200;1,600&display=swap'); */

html,
body {
	height: 100%;
}

body {
	font-family: "Montserrat", sans-serif;
	/* font-family: 'Nunito', sans-serif; */
	font-weight: 400;
	font-size: 17px;
}

nav,
main {
	max-width: 1500px;
	margin: auto;
}

.bg-d {
	background-color: rgb(52, 93, 180);
}

/* NAVBAR
---------------------- */
.navbar-nav .nav-item {
	margin: 0 0.8em;
}

.navbar-dark .navbar-nav .active > .nav-link:not(.btn),
.navbar-dark .navbar-nav .nav-link.active:not(.btn),
.navbar-dark .navbar-nav .nav-link.show:not(.btn),
.navbar-dark .navbar-nav .show > .nav-link {
	background: rgba(255, 255, 255, 0.247) !important;
	border-radius: 2px;
	color: #fff;
}

/* TOP
--------------------- */
.top {
	margin-top: 3.4em;
	padding: 2em;
	background: url("../images/laptop.jpg") no-repeat;
	background-position: center;
	background-size: 100%;
	/* background-attachment: fixed; */
	min-height: 400px;
	text-align: center;
	color: #fff;
	position: relative;
}

.bg-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 400px;
	/* height: 100%; */
}

.top h2 {
	margin-top: 5em;
	margin-bottom: 2em;
	font-size: 2em;
}

#profile-img {
	border-radius: 50%;
	width: 150px;
	max-height: 350px;
	/* height: 250px; */
}

.section-active {
	border: 3px solid red;
}

/* SKILLS
----------------------------- */
#skills .icon {
	font-size: 3em;
	border-radius: 50%;
	background: #fff;
	padding: 0.4em 0.5em;
	/* color: white; */
}

#skills .icon.android {
	padding: 0.4em 0.85em;
}

#skills .skill {
	width: auto;
	border-radius: 50%;
	background: white;
	border: 1px solid #000;
	padding: 1em;
	font-size: 70%;
	font-weight: bold;
	margin: 0 auto;
}

/* EXPERIENCE
------------------------- */
#experience img {
	max-width: 100%;
	max-height: 300px;
}

/* WORK
------------------------- */
#work img {
	max-width: 100%;
}

#work a:not(.btn) {
	border: 1px solid rgba(0, 0, 0, 0.548);
	padding: 0;
	margin: auto 0.5em;
}

#work .work-name {
	position: absolute;
	bottom: 0;
	/* border:2px solid #000; */
	background: #000000bd;
	color: #fff;
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 0.75em;
	display: none;
}

#work .row > a:hover .work-name {
	display: block;
}

/* FEEDBACK
---------------------------- */
#testimonials .t-content {
	font-size: 14px;
}

.owl-carousel .owl-item img {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: auto;
}

#testimonials .item .card-text {
	font-size: 12px;
}

.owl-carousel .owl-dots {
	margin-top: 1em !important;
}

.owl-carousel .owl-dots.disabled {
	display: block;
}

/* .visit{
    position: absolute;
    top:50%;
    left: 50%;
} */

/* SERVICES
------------------------- */
#services .service {
	text-align: center;
}

#services .icon {
	font-size: 2.5em;
	border-radius: 50%;
	background: #f4f4f4;
	padding: 0.4em 0.5em;
	color: white;
}

#services .icon.design {
	padding: 0.4em 0.6em;
}

#services h4 {
	font-weight: 600;
	font-size: 16px;
	margin: 1.5em 0 0.7em;
}

/* PROCESS
-------------------------- */
.process-container {
	width: 75%;
	width: 15em;
	height: 15em;
	position: relative;
	border: 5px solid #dddd;
	border-radius: 50%;
}

.process-container > div,
.process-container > span {
	position: absolute;
	top: 0%;
	left: 50%;
	max-width: 200px;
}

.process-container img {
	width: 70px;
	height: auto;
	border-radius: 50%;
}

.process-container span:not(.stage) {
	font-size: 120%;
}

.process-container span.stage {
	font-size: 65%;
	font-weight: bold;
	text-align: center;
}

.process-container span.stage span {
	font-weight: bold;
}

.process-container .deg-0 {
	top: 48%;
	left: 44%;
	transform: translate(5.2em);
}

/* span.deg-10 {
	transform: rotate(45deg) translate(5.25em);
} */

.process-container .deg-72 {
	top: 85%;
	left: 0%;
	transform: translate(5em);
}

.process-container .deg-144 {
	top: 50%;
	left: -72%;
	transform: translate(8.6em);
}

/* span.deg-170 {
	transform: rotate(200deg) translate(6.8em);
} */

.process-container .deg-216 {
	top: 0%;
	left: -55%;
	transform: translate(8.1em);
}

.process-container .deg-288 {
	top: 0%;
	left: 15%;
	transform: translate(8.1em);
}

/* CONTACT
------------------------ */
#contact a {
	color: #fff;
}

#contact .contact-element {
	margin: auto;
	text-align: center;
	text-overflow: ellipsis;
	max-width: 100%;
	overflow: hidden;
	color: #fff;
}

#contact .contact-element .contact-icon {
	text-align: center;
	font-size: 2em;
	display: block;
	border: 2px solid #fff;
	margin: auto;
	border-radius: 50%;
	width: 30%;
	margin-bottom: 0.2em;
}

/* GO TO TOP
------------------- */
#go-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1em;
	padding: 0.7em 1em;
	z-index: 2;
}







/* MEDIA QUERIES
-------------------------- */
@media (min-width:1500px){
	#contact .contact-element .contact-icon {
		font-size: 2em;
		padding: .5em 1.65em .5em 0.85em;
	}
}

@media (min-width: 993px) {
	#contact .contact-element .contact-icon {
		font-size: 2em;
		padding: 0.2em 1.4em 0.2em 0.5em;
	}

	#contact .contact-element:nth-child(2) .contact-icon {
		font-size: 2em;
		padding: 0.2em 1.25em 0.2em .75em;
	}
}

@media (max-width: 992px) {
	#contact .contact-element .contact-icon {
		font-size: 2em;
		padding: 0 1.4em 0 0.45em;
	}
}

@media (max-width: 625px) {
	#work .row a {
		margin-top: 0.5em;
	}

	#services .col-12 {
		margin-top: 2em;
	}
}

@media (max-width: 576px) {
	.top {
		margin-top: 3.3em;
		padding: 0.2em;
		min-height: 300px;
	}

	.bg-overlay {
		min-height: 300px;
		/* height: 100%; */
	}

	.top h2 {
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: 1.7em;
	}

	.process-container {
		width: 10em;
		height: 10em;
	}

	.process-container img {
		width: 30px;
	}

	.process-container span:not(.stage) {
		font-size: 120%;
	}

	.process-container span.stage {
		font-size: 65%;
		font-weight: bold;
		text-align: center;
	}

	.process-container span.stage span {
		font-weight: bold;
	}

	.process-container .deg-0 {
		left: 33%;
	}

	/* span.deg-10 {
	transform: rotate(45deg) translate(5.25em);
} */

	.process-container .deg-72 {
		top: 88%;
		left: -15%;
	}

	.process-container .deg-144 {
		top: 55%;
		left: -102%;
	}

	/* span.deg-170 {
	transform: rotate(200deg) translate(6.8em);
} */

	.process-container .deg-216 {
		left: -82%;
	}

	.process-container .deg-288 {
		top: 0%;
		left: -15%;
		transform: translate(8.1em);
	}

	#contact .contact-element .contact-icon {
		font-size: 1.5em;
		padding: 0 1.3em 0 0.43em;
		/* width: 70%; */
	}

	#contact span.text {
		display: none;
	}
}
